<div class="container">
	<div class="m-index">
		<!--   提示    -->
		<div class="index-prompt">
			<span>温馨提示：</span>
			<p>初次就诊，没有建立账户信息的病友，请先【建卡】<br />已经建立账户信息的病友，请先插入您的诊疗卡，然后选择需要办理的业务。</p>
		</div>
		<div class="m-index-list">
			<div class="text-center">
				<ul>
					<li class="bg-color bg-color-001">
						<a ui-sref="app.card">
							<i class="icon-001"></i>
							<div>
								<h4>建卡/挂号</h4>
								<p>办理诊疗卡、挂号、购买病历本</p>
							</div>
						</a>
					</li>
					<li class="bg-color bg-color-002">
						<a ui-sref="app.recharge">
							<i class="icon-002"></i>
							<div>
								<h4>缴费/充值</h4>
								<p>自助缴费充值现金/银行卡/支付宝</p>
							</div>
						</a>
					</li>
					<li class="bg-color bg-color-003">
						<a ui-sref="app.reservation">
							<i class="icon-003"></i>
							<div>
								<h4>预约</h4>
								<p>预约挂号、预约取号、预约取消</p>
							</div>
						</a>
					</li>
					<li class="bg-color bg-color-004">
						<a>
							<i class="icon-004"></i>
							<div>
								<h4>查询</h4>
								<p>查询就诊环节动态信息</p>
							</div>
						</a>
					</li>
					<li class="bg-color bg-color-005">
						<a>
							<i class="icon-005"></i>
							<div>
								<h4>取药排号</h4>
								<p>取药之前先排号</p>
							</div>
						</a>
					</li>
					<li class="bg-color bg-color-006">
						<a ng-click="audio_list.play('audio_001')">
							<i class="icon-006"></i>
							<div>
								<h4>住院日清单</h4>
								<p>住院费用日清单查询</p>
							</div>
						</a>
					</li>
					<li class="bg-color bg-color-007">
						<a ng-click="audio_list.pause('audio_001')">
							<i class="icon-007"></i>
							<div>
								<h4>医疗评价</h4>
								<p>对医院综合服务进行整体评价</p>
							</div>
						</a>
					</li>
					<li class="bg-color bg-color-008">
						<a>
							<i class="icon-008"></i>
							<div>
								<h4>导诊单</h4>
								<p>导诊单打印</p>
							</div>
						</a>
					</li>
				</ul>
			</div>
		</div>
		
		
	</div>
</div>