<div ui-view>
	<div class="container">
		<div class="m-index">
			<!--   提示    -->
			<div class="m-card-header clearfix">
				<div class="title">请确认您的预约信息列表</div>
				<div class="time">
					<div class="time-bg">
						<span>{{countdown_time}}</span>
					</div>
				</div>
			</div>
			
			<!--   预约取号   -->
			<div class="m-take-list">
				<div class="list-body">
					<table>
						<tr>
							<th style="text-align: center;">序号</th>
							<th>科室</th>
							<th>医生类别</th>
							<th>预约时间</th>
							<th style="text-align: center;">状态</th>
							<th style="text-align: center;">操作</th>
						</tr>
						<tr ng-repeat="item in table_data.table_res.rows" ng-class="{true:'checked'}[item.checked ? true : false]">
							<td style="text-align: center;">{{item.order}}</td>
							<td>{{item.title}}</td>
							<td>{{item.type}}</td>
							<td>{{item.date}}</td>
							<td style="text-align: center;">{{item.state}}</td>
							<td style="text-align: center;">
								<label><i class="fa" ng-class="{true:'fa-check-square-o',false:'fa-square-o'}[item.checked ? true : false]"></i><input type="checkbox" ng-model="item.checked" ng-checked="item.checked" /></label>
							</td>
						</tr>
					</table>
					<div class="page clearfix">
						<span class="pull-left"></span>
						<div class="pull-right">
							<a class="btn btn-main">上一页</a>&nbsp;&nbsp;&nbsp;&nbsp;
							<a class="btn btn-main">下一页</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<a class="btn btn-blue" ng-click="outMark()">取号</a>
						</div>
					</div>
				</div>
			</div>
			
			
		</div>
	</div>
</div>
